<!DOCTYPE HTML>

<html>
	<head>
		<title>Community Groups - H2O Church</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/thumbs/logo.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo" class="logo"><a href="/">H2O Church </a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="submenu arrow">
								<a>About Us</a>
								<ul>
									<li><a href="WhoWeAre">Who We Are</a></li>
									<li><a href="WhatWeBelieve">What We Believe</a></li>
									<li><a href="OurTeam">Our Team</a></li>
									<li><a href="Partnerships">Partnerships</a></li>
								</ul>
							</li>
							<li class="submenu arrow blue">
								<a >Connect</a>
								<ul>
									<li><a href="GetConnected">Get Connected</a></li>
									<li class="blue"><a href="CommunityGroups">Community Groups</a></li>
									<li><a href="Sermons">Sermons</a></li>
								</ul>
							</li>

							<li class="submenu arrow">
								<a >Events</a>
								<ul>
									<li><a href="CommunityEngagement">Community Engagement</a></li>

									<!--li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li-->

								</ul>
							</li>
							<li class="submenu">
								<a href="Sundays">Sundays</a>
							</li>
							<li class="submenu">
								<a href="Give">Give</a>
							</li>

							<!--li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button primary">Sign Up</a></li-->

						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">
					<style> a{color:#2d78ae;}
					</style>
					<header class="special container">
						<span class="icon solid fa-users"></span>
						<h2>Community Groups</h2>
						<p>The Heartbeat of H2O</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content centertext">
									<section>
										<a class="image featured"><img src="images/thumbs/communitygroups.png" alt="" /></a>
										<header>
											<h3><strong>Why Community Groups?</strong></h3>
										</header>
										<p>As a church, we believe that real life transformation happens as we live in authentic community with one another, which is hard to do on Sunday morning with lots of people. Our desire is to connect with one another and develop deep, meaningful friendships; and to learn together who Jesus is and what it means to follow Him.</p>
										<p>In Acts 2:42, we find one picture of the early church, “They devoted themselves to the apostles’ teaching and to fellowship, to the breaking of bread and to prayer.” Our desire is to follow the example of the early church in living our life in community. To that end, we have our H2O Community Groups.</p>
										<header>
											<h3><strong>What Happens at a Community Group?</strong></h3>
										</header>
										<p>
											Community groups are where people gather to get to know one another and have discussions on spiritual matters relevant to our lives.  They are places to be real with our struggles, questions, and dreams for the future. It is also a place to learn about and live out the mission God has called us to on this campus: serving and loving students and making disciples of Jesus.
										</p>
										<p>
											Our Community Groups meet throughout the week all around campus and are great opportunities to share life and grow in our faith together.
										</p>
									</section>
								</div>


						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-12 col-12-narrower centertext">

									<header>
										<h2><strong>New Here?</strong></h2>
									</header>
									<p>Take the first steps to get connected by filling out our connection card.  We will help you connect with an H2O Community Group and include you on our emailed updates and notifications of what is going on at H2O this fall.</p>
									<footer>
										<ul class="buttons">
											<li><a href="ConnectCard" class="button">Connect With Us</a></li>
										</ul>
									</footer>

								</div>

							</div>
						</section>
						<div class="content centertext">
							<header>
								<h3><strong>Fall 2020 H2O Community Groups</strong></h3>
							</header>
							<div class="row centertext">


								<div class="col-6 col-12-narrower" style="margin-top:5%">

								<section>
									<header>
										<h3><strong>North / Central Campus</strong></h3>
									</header>
									<header><strong>Contact</strong></header>
									<p><strong>Hope : </strong><a href="mailto:Hope.Leimbach@h2oindiana.org">Hope.Leimbach@h2oindiana.org</a>
										<br><strong>Sam : </strong><a href="mailto:Sam.Scholl@h2oindiana.org">Sam.Scholl@h2oindiana.org</a></p>
									<header><strong>Time & Location</strong></header>
										<p> 7pm Tuesdays @ north lawn of <a href="https://goo.gl/maps/H1JtLhdUvb23GRJm6">Wright quad.</a></p>

								</section>

							</div>
							<div class="col-6 col-12-narrower" style="margin-top:5%">

								<section>
									<header>
										<h3><strong>South Campus</strong></h3>
									</header>
									<header><strong>Contact</strong></header>
									<p><strong>Kelsey : </strong><a href="mailto:Kelsey.Keesecker@h2oindiana.org">Kelsey.Keesecker@h2oindiana.org</a>
										<br><strong>Eric : </strong><a href="mailto:Eric.Strubhar@h2oindiana.org">Eric.Strubhar@h2oindiana.org</a></p>
									<header><strong>Time & Location</strong></header>
										<p> Time & Location: 7pm Wednesdays @ <a href="https://goo.gl/maps/uRYFuTmgrn2Sx44d8">green space east of Read Hall and north of Forest Quad.</a></p>

								</section>

							</div>
						</div>
						<div class="row centertext">

							<div class="col-6 col-12-narrower" style="margin-top:10%">

								<section>
									<header>
										<h3><strong>Off Campus</strong></h3>
									</header>
									<header><strong>Contact</strong></header>
									<p><strong>Hannah : </strong><a href="mailto:Hannah.Zimmerman@h2oindiana.org">Hannah.Zimmerman@h2oindiana.org</a>
										<br><strong>Travis : </strong><a href="mailto:Travis.Zimmerman@h2oindiana.org">Travis.Zimmerman@h2oindiana.org</a></p>
									<header><strong>Time & Location</strong></header>
										<p>7pm Tuesdays @ <a href="https://goo.gl/maps/wGvHztkRYCBiEeNj6">3rd and Union Apartments courtyard.</a></p>
									<header><strong>Parking</strong></header>
											<p>Union Street or the streets south of 3rd Ave <br>(permit parking ends at 5pm)</p>

								</section>

							</div>
							<div class="col-6 col-12-narrower" style="margin-top:10%">

								<section>
									<header>
										<h3><strong>Virtual</strong></h3>
									</header>
									<header><strong>Contact</strong></header>
									<p><strong>Dan : </strong><a href="mailto:Dan.Luk@h2oindiana.org">Dan.Luk@h2oindiana.org</a>
										<br> <strong>Courtney : </strong><a href="mailto:Courtney.Bensman@h2oindiana.org">Courtney.Bensman@h2oindiana.org</a></p>
									<header><strong>Time & L</strong></header>
										<p>11am Thursdays on Zoom <br>(email Dan or Courtney for the link)</p>

								</section>

							</div>
						</div>
					</div>

					</section>



				</article>

				<!-- Footer -->
					<footer id="footer">

						<ul class="icons">
							<li><a target="_blank" href="https://www.instagram.com/h2ochurchiu/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a target="_blank" href="https://www.facebook.com/h2ochurchiu/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/h2ochurchiu" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>

						</ul>

						<ul class="copyright">
							<li>For more information, contact Pastor Kevin Cody by <a href="mailto:Kevin.Cody@h2oindiana.org">email</a> or phone (812) 955-0451</li>
						</ul>

					</footer>


		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
