<!DOCTYPE HTML>

<html>
	<head>
		<title>Community Engagement - H2O Church</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/thumbs/logo.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo" class="logo"><a href="/">H2O Church </a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="submenu arrow">
								<a>About Us</a>
								<ul>
									<li><a href="WhoWeAre">Who We Are</a></li>
									<li><a href="WhatWeBelieve">What We Believe</a></li>
									<li><a href="OurTeam">Our Team</a></li>
									<li><a href="Partnerships">Partnerships</a></li>
								</ul>
							</li>
							<li class="submenu arrow">
								<a >Connect</a>
								<ul>
									<li><a href="GetConnected">Get Connected</a></li>
									<li><a href="CommunityGroups">Community Groups</a></li>
									<li><a href="Sermons">Sermons</a></li>
								</ul>
							</li>

							<li class="submenu arrow blue">
								<a >Events</a>
								<ul>
									<li class="blue"><a href="CommunityEngagement">Community Engagement</a></li>

									<!--li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li-->

								</ul>
							</li>
							<li class="submenu">
								<a href="Sundays">Sundays</a>
							</li>
							<li class="submenu">
								<a href="Give">Give</a>
							</li>

							<!--li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button primary">Sign Up</a></li-->

						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-heart"></span>
						<h2>Community Engagement</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content centertext">
									<section>
										<a class="image featured"><img src="images/thumbs/communityengagement.png" alt="" /></a>
										<header>
											<h3><strong>Announcement</strong></h3>
										</header>
										<p>Because of the current situation we will be postponing community engagement until further notice. </p>

										<header>
											<h3><strong>Our Vision</strong></h3>
										</header>
										<p>
											Christ announced His ministry by proclaiming His heart to bring good news to the poor, liberty to the blind, sight to the captives, and the Lord’s favor. This call to serve the poor is made clearer by many of His teachings, the way He lived His life among the poor, and the way His disciples and church lived out these commands.
										</p>
										<p>
											Our vision is that H2O church would build real, gospel-centered relationships with the poor, needy, and ostracized – visiting, praying, and meeting their needs on a weekly basis. We want to see the people of our church expand their view of our campus, our city, Christ’s heart, and the life of a devoted disciple.


										</p>
									</section>
								</div>



						<div class="content centertext">
							<header>
								<h3><strong>Engagement Opportunities</strong></h3>
							</header>
							<div class="row centertext">


								<div class="col-6 col-12-narrower" style="margin-top:5%">

								<section>
									<header>
										<h3><strong>Wheeler Mission</strong></h3>
									</header>

									<p>Join us the first Saturday of each month as we partner with Wheeler Mission <a class="blue" href="https://wheelermission.org/" target="_blank">(wheelermission.org)</a>  to serve the homeless community in Bloomington. </p>

									<p>Dave : <a href="mailto:Dave.Keffler@h2oindiana.org" class="blue">Dave.Keffler@h2oindiana.org</a></p>

								</section>

							</div>
							<div class="col-4 col-12-narrower" >

								<section>
									<div class="content">
										<section>
											<a href="https://wheelermission.org/" target="_blank" class="image featured" style="margin-top:30%"><img src="images/thumbs/wheelermission.png" alt="" /></a>



										</section>
									</div>
								</section>

							</div>
						</div>
					</section>

					</div>
					<div class="content centertext">
						<header>
							<h3><strong>Let us know if you have ideas of other places to serve.</strong></h3>
						</header>
						<p><strong>Dave : </strong><a href="mailto:Dave.Keffler@h2oindiana.org">Dave.Keffler@h2oindiana.org</a></p>
					</div>





				</article>

				<!-- Footer -->
					<footer id="footer">

						<ul class="icons">
							<li><a target="_blank" href="https://www.instagram.com/h2ochurchiu/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a target="_blank" href="https://www.facebook.com/h2ochurchiu/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/h2ochurchiu" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>

						</ul>

						<ul class="copyright">
							<li>For more information, contact Pastor Kevin Cody by <a href="mailto:Kevin.Cody@h2oindiana.org">email</a> or phone (812) 955-0451</li>
						</ul>

					</footer>


		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
