<!DOCTYPE HTML>

<html>
	<head>
		<title>Get Connected - H2O Church</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/thumbs/logo.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="contact is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo" class="logo"><a href="/">H2O Church </a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="submenu arrow">
								<a>About Us</a>
								<ul>
									<li><a href="WhoWeAre">Who We Are</a></li>
									<li><a href="WhatWeBelieve">What We Believe</a></li>
									<li><a href="OurTeam">Our Team</a></li>
									<li><a href="Partnerships">Partnerships</a></li>
								</ul>
							</li>
							<li class="submenu arrow blue">
								<a >Connect</a>
								<ul>
									<li class="blue"><a href="GetConnected">Get Connected</a></li>
									<li><a href="CommunityGroups">Community Groups</a></li>
									<li><a href="Sermons">Sermons</a></li>
								</ul>
							</li>

							<li class="submenu arrow">
								<a >Events</a>
								<ul>
									<li><a href="CommunityEngagement">Community Engagement</a></li>

									<!--li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li-->

								</ul>
							</li>
							<li class="submenu">
								<a href="Sundays">Sundays</a>
							</li>
							<li class="submenu">
								<a href="Give">Give</a>
							</li>

							<!--li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button primary">Sign Up</a></li-->

						</ul>
					</nav>
				</header>


			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-envelope"></span>
						<h2>We would love to connect with you!</h2>
						<p>Whether you're a freshman or transfer student or you are a seasoned IU student, we would love to get to know you and tell you more about our church and what is going on this fall.
						</p>

					</header>

					<!-- One -->
						<section class="wrapper style4 special container medium">

							<p>
								PLEASE FILL OUT THE FORM BELOW AND AN H2O LEADER WILL GET IN CONTACT WITH YOU TO HELP YOU CONNECT WITH US.
							</p>
							<!-- Content -->
								<div class="content">
									<form>
										<div class="row gtr-50">
											<div class="col-6 col-12-mobile">
												<input type="text" name="firstname" placeholder="First Name" required/>
											</div>
											<div class="col-6 col-12-mobile">
												<input type="text" name="lastname" placeholder="Last Name" />
											</div>
											<div class="col-12">
												<input type="text" name="phone" placeholder="Phone" required/>
											</div>
											<div class="col-12">
												<input type="text" name="email" placeholder="Email Address" required/>
											</div>
											<div class="col-12">
												<input type="text" name="dorm" placeholder="Dorm / Area of Bloomington" required/>
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Have a question?" rows="7"></textarea>
											</div>
											<div class="col-12">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Submit" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

				<!-- Footer -->
					<footer id="footer">

						<ul class="icons">
							<li><a target="_blank" href="https://www.instagram.com/h2ochurchiu/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a target="_blank" href="https://www.facebook.com/h2ochurchiu/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/h2ochurchiu" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>

						</ul>

						<ul class="copyright">
							<li>For more information, contact Pastor Kevin Cody by <a href="mailto:Kevin.Cody@h2oindiana.org">email</a> or phone (812) 955-0451</li>
						</ul>

					</footer>


		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
