<!DOCTYPE HTML>

<html>
	<head>
		<title>Give - H2O Church</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/thumbs/logo.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo" class="logo"><a href="/">H2O Church </a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="submenu arrow">
								<a>About Us</a>
								<ul>
									<li><a href="WhoWeAre">Who We Are</a></li>
									<li><a href="WhatWeBelieve">What We Believe</a></li>
									<li><a href="OurTeam">Our Team</a></li>
									<li><a href="Partnerships">Partnerships</a></li>
								</ul>
							</li>
							<li class="submenu arrow">
								<a >Connect</a>
								<ul>
									<li><a href="GetConnected">Get Connected</a></li>
									<li><a href="CommunityGroups">Community Groups</a></li>
									<li><a href="Sermons">Sermons</a></li>
								</ul>
							</li>

							<li class="submenu arrow">
								<a >Events</a>
								<ul>
									<li><a href="CommunityEngagement">Community Engagement</a></li>

									<!--li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li-->

								</ul>
							</li>
							<li class="submenu">
								<a href="Sundays">Sundays</a>
							</li>
							<li class="submenu blue">
								<a href="Give">Give</a>
							</li>

							<!--li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button primary">Sign Up</a></li-->

						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-gift blue"></span>
						<h2>Give</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content centertext">
									<section>


										<p><strong>Thank you for partnering with us to help Indiana University students become fully-devoted disciples of Jesus Christ. </strong></p>
										<p>All gifts made to H2O Church of Bloomington are tax deductible.  We send a record of giving to all of our donors in January of the new year.</p>
										<hr>
											<h3><strong>Give By Mail</strong></h3>
										</header>
										<p>
										If you wish to send a gift by mail simply make your gift out to ‘H2O Church of Bloomington’ and mail it to:
										</p>
										<p>
											H2O Church of Bloomington
											<br>P.O. Box 7316
											<br>Bloomington, IN 47407


										</p>
									</section>
								</div>


								<hr>
						<div class="content centertext">
							<section>



									<h3><strong>Give Online</strong></h3>
								</header>
								<p>
									We are currently able to receive gifts online through ACH transactions (gifts directly from a bank account). This helps us to keep the fees for accepting gifts low.
									<br><strong>
									Please note that it takes 5-7 business days for these gifts to process. After filling out the form below, you will receive an email receipt for your gift after the gift has been processed.

								</strong>
								 <br>If you have any questions or concerns, please contact us at: <a class="blue" href="mailto:info@h2oindiana.org">info@h2oindiana.org.</a>
								</p>
								<p>
									Thank you for your support of H2O Church of Bloomington!
								</p>
								<footer>
									<ul class="buttons">
										<li><a href="https://app.moonclerk.com/pay/3th0rrnm0p7w" class="button blue">Give Here</a></li>
									</ul>
								</footer>

							</section>

					</div>






				</article>

				<!-- Footer -->
					<footer id="footer">

						<ul class="icons">
							<li><a target="_blank" href="https://www.instagram.com/h2ochurchiu/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a target="_blank" href="https://www.facebook.com/h2ochurchiu/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/h2ochurchiu" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>

						</ul>

						<ul class="copyright">
							<li>For more information, contact Pastor Kevin Cody by <a href="mailto:Kevin.Cody@h2oindiana.org">email</a> or phone (812) 955-0451</li>
						</ul>

					</footer>


		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>

			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
