<!DOCTYPE HTML>

<html>
	<head>
		<title>Our Team - H2O Church</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/thumbs/logo.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo" class="logo"><a href="/">H2O Church </a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="submenu arrow blue">
								<a class="blue">About Us</a>
								<ul>
									<li><a href="WhoWeAre">Who We Are</a></li>
									<li><a href="WhatWeBelieve">What We Believe</a></li>
									<li class="blue"><a href="OurTeam">Our Team</a></li>
									<li><a href="Partnerships">Partnerships</a></li>
								</ul>
							</li>
							<li class="submenu arrow">
								<a >Connect</a>
								<ul>
									<li><a href="GetConnected">Get Connected</a></li>
									<li><a href="CommunityGroups">Community Groups</a></li>
									<li><a href="Sermons">Sermons</a></li>
								</ul>
							</li>

							<li class="submenu arrow">
								<a >Events</a>
								<ul>
									<li><a href="CommunityEngagement">Community Engagement</a></li>

									<!--li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li-->

								</ul>
							</li>
							<li class="submenu">
								<a href="Sundays">Sundays</a>
							</li>
							<li class="submenu">
								<a href="Give">Give</a>
							</li>

							<!--li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button primary">Sign Up</a></li-->

						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container" >
						<span class="icon solid fa-coffee"></span>
						<h2>Our Team</h2>
					</header>
							<div class="row centertext"  style="padding-left:5%;padding-right:5%">

							<div class="col-3 col-12-narrower">
								<section>

									<a onclick="showportrait('bekah')" class="image featured portrait"><img src="/images/team/bekah.jpg" alt="" /></a>


									<header>
										<h3><strong>Bekah Campbell</strong></h3>
									</header>

									</section>
							</div>


								<div class="col-3 col-12-narrower">
									<section>
										<a onclick="showportrait('courtney')" class="image featured portrait"><img src="/images/team/courtney.jpg" alt="" /></a>
									<section>
										<header>
											<h3><strong>Courtney Bensman</strong></h3>
										</header>

										</section>
								</div>


								<div class="col-3 col-12-narrower">
											<section>
												<a onclick="showportrait('luk')" class="image featured portrait"><img src="/images/team/luk.jpg" alt="" /></a>
															<section>
																<header>
																	<h3><strong>Dan and Maggie Luk</strong></h3>
																</header>

																</section>
														</div>

					<div class="col-3 col-12-narrower">
											<section>
												<a onclick="showportrait('dave')" class="image featured portrait"><img src="/images/team/dave.jpeg" alt="" /></a>
													<section>
														<header>
															<h3><strong>Dave Keffler</strong></h3>
																</header>

																	</section>
						</div>

					</div>
					<div class="row centertext" style="padding-left:5%;padding-right:5%;margin-top:2%">

					<div class="col-3 col-12-narrower">
						<section>
							<a onclick="showportrait('eric')" class="image featured portrait"><img src="/images/team/eric.jpg" alt="" /></a>
						<section>
							<header>
								<h3><strong>Eric Strubhar</strong></h3>
							</header>

							</section>
					</div>


						<div class="col-3 col-12-narrower">
							<section>
								<a onclick="showportrait('metz')" class="image featured portrait"><img src="/images/team/metz.jpeg" alt="" /></a>
							<section>
								<header>
									<h3><strong>Halie and Kurt Metz</strong></h3>
								</header>

								</section>
						</div>


						<div class="col-3 col-12-narrower">
									<section>
										<a onclick="showportrait('zimmerman')" class="image featured portrait"><img src="/images/team/zimmerman.jpg" alt="" /></a>
													<section>
														<header>
															<h3><strong>Hannah and Travis Zimmerman</strong></h3>
														</header>

														</section>
												</div>

							<div class="col-3 col-12-narrower">
									<section>
										<a onclick="showportrait('hope')" class="image featured portrait"><img src="/images/team/hope.jpg" alt="" /></a>
											<section>
												<header>
													<h3><strong>Hope Leimbach</strong></h3>
														</header>

															</section>
				</div>

			    </div>
			    <div class="row centertext" style="padding-left:5%;padding-right:5%;margin-top:2%">

			    <div class="col-1 col-12-narrower" style="width: 12.5%">
			    </div>

			    <div class="col-3 col-12-narrower">
				   <section>
					  <a onclick="showportrait('kelsey')" class="image featured portrait"><img src="/images/team/kelsey.jpeg" alt="" /></a>
				    <section>
					    <header>
						  <h3><strong>Kelsey Keesecker</strong></h3>
					   </header>

					    </section>
			      </div>


				   <div class="col-3 col-12-narrower">
						 <section>
							 <a onclick="showportrait('cody')" class="image featured portrait"><img src="/images/team/cody.jpg" alt="" /></a>
							 <section>
								 <header>
									 <h3><strong>Kevin and Julie Cody</strong></h3>
								 </header>

							 </section>
						 </div>


						 <div class="col-3 col-12-narrower">
								<section>
									<a onclick="showportrait('sam')" class="image featured portrait"><img src="/images/team/sam.jpg" alt="" /></a>
												<section>
													<header>
														<h3><strong>Sam Scholl</strong></h3>
													</header>

													</section>
												</div>



											</div>

											<div id="bekah" class="modal fade">
												<div class="modal-content">
													<span class="close" onclick="hideportrait('bekah')">&times;</span>
													<div id="bekah" class="col-12 col-12-narrower" >
														<section>
															<header>
																	<h3><strong>Bekah Campbell</strong></h3>
															</header>
															<div class="row">
																<div class="col-6 col-12-narrower">
																	<a class="image"><img src="/images/team/bekah.jpg" alt="" /></a>
																</div>
																<div class="col-6 col-12-narrower lefttext">

																	<p>
																		<strong>Hometown:</strong> Indianapolis, Indiana
																		<br>
																		<strong>What did you study in college? </strong> Social Work
																		<br>
																		<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
																		<br>
																		<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
																		<br>
																		<strong>In my free time I like to:</strong> Go on hikes, eat great food
																		<br>
																		<strong>Primary Role:</strong> North & Central Campus Community Group
																		<br>
																		<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>
																</p>
															</div>
														</div>
													</section>
												</div>
											</div>
										  </div>

											<div id="courtney" class="modal fade">
												<div class="modal-content">
													<span class="close" onclick="hideportrait('courtney')" >&times;</span>

											<div class="row">
												<div class="col-4 col-12-narrower ">
														<a class="image "><img src="/images/team/courtney.jpg" alt="" /></a>
													</div>
													<div class="col-8 col-12-narrower ">
														<header>
																<h3><strong>Courtney Bensman</strong></h3>
														</header>


														<p>
															<strong>Hometown:</strong> Piqua, Ohio
															<br>
															<strong>What did you study in college? </strong> Social Work
															<br>
															<strong>Fun Fact: </strong>I have 16 younger siblings between my two families. I love having a big family!!
															<br>
															<strong>Why are you a part of H2O Church Indiana?</strong> College can be a really messy and dark time for many. That's right where I was when Jesus pursued my heart and rescued me! Then I saw God use the church and specific people in my life to show me the heart of God for me, overflowing with so much more grace and mercy than we can imagine. And now I am excited to be a part of it by serving as God's hands and feet to show students the same hope and freedom that Jesus showed me. Nothing compares to Jesus!
															<br>
															<strong>In my free time I like to:</strong> Be outside in nature, exercise, drive my car and listen to music, play games/sports with friends and family, and get into deep conversations. Also, cook and clean :)
															<br>
															<strong>Primary Role:</strong> Off Campus Community Group
															<br>
															<strong>Email: </strong> <a class="blue" href="mailto:Courtney.Bensman@h2oindiana.org">Courtney.Bensman@h2oindiana.org</a>


														</p>
													</div>
												</div>

														</section>
												</div>
											</div>
										</div>






				</article>


				<!-- Main -->
					<article id="main2">

						<header class="special container" style="margin-top:5%" >
							<span class="icon solid fa-coffee"></span>
							<h2>Our Team</h2>
						</header>


								<div id="luk" class="col-12 col-12-narrower">
									<section>

											<header>
													<h3><strong>Dan and Maggie Luk</strong></h3>
											</header>

										<a class="image "><img src="/images/team/luk.jpg" alt="" /></a>

										<div class="row">
											<div class="col-6 col-12-narrower">
												<header>
														<h3><strong>Dan</strong></h3>
												</header>
										<p>
											<strong>Hometown:</strong> Cincinnati, Ohio
											<br>
											<strong>What did you study in college? </strong>  Aerospace Engineering
											<br>
											<strong>Fun Fact: </strong> I am bi-lingual. I am terrified of germs, swimming, and roller coasters.
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> There's a big need for a gospel centered church geared towards college students here. I want to learn all about planting churches and helping people become disciples of Jesus. I believe college students are the most reachable, most trainable, and most sendable. I want to see the next generation spend their lives producing eternal impact and making much of God.
											<br>
											<strong>In my free time I like to:</strong> Play strategy games
											<br>
											<strong>Primary Role:</strong>  Deacon, Off Campus Community Group, Leadership Development coordinator
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Dan.Luk@h2oindiana.org"> Dan.Luk@h2oindiana.org</a>


										</p>
									</div>
									<div class="col-6 col-12-narrower lefttext">
										<header>
												<h3><strong>Maggie</strong></h3>
										</header>
								<p>
									<strong>Hometown:</strong> Mason, Ohio
									<br>
									<strong>What did you study in college? </strong> Psychology
									<br>
									<strong>Fun Fact: </strong>My dream job is home construction and I love going to indie concerts
									<br>
									<strong>Why are you a part of H2O Church Indiana?</strong>College is a unique season where there is freedom to explore what you believe but also set a new life trajectory. So there is a huge opportunity for Gospel life transformation for Indiana University students!
										<br>
									<strong>In my free time I like to:</strong> Hang out with my daughter, Abigail, and work on home renovation projects.
									<br>
									<strong>Primary Role:</strong> Support staff
									<br>
									<strong>Email: </strong> <a class="blue" href="mailto:Maggie.Luk@h2oindiana.org">Maggie.Luk@h2oindiana.org</a>


								</p>
							</div>
						</div>

										</section>
								</div>
								<div id="dave" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Dave Keffler</strong></h3>
											</header>

										<a class="image "><img src="/images/team/dave.jpeg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="eric" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Eric Strubhar</strong></h3>
											</header>

										<a class="image "><img src="/images/team/eric.jpg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="metz" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Halie and Kurt Metz</strong></h3>
											</header>

										<a class="image "><img src="/images/team/metz.jpeg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="zimmerman" class="col-12 col-12-narrower">
									<section>

											<header>
													<h3><strong>Hannah and Travis Zimmerman</strong></h3>
											</header>

										<a class="image "><img src="/images/team/zimmerman.jpg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="hope" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Hope Leimbach</strong></h3>
											</header>

										<a class="image "><img src="/images/team/hope.jpg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="kelsey" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Kelsey Keesecker</strong></h3>
											</header>

										<a class="image "><img src="/images/team/kelsey.jpeg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="cody" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Kevin and Julie Cody</strong></h3>
											</header>

										<a class="image "><img src="/images/team/cody.jpg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>
								<div id="sam" class="col-12 col-12-narrower ">
									<section>

											<header>
													<h3><strong>Sam Scholl</strong></h3>
											</header>

										<a class="image "><img src="/images/team/sam.jpg" alt="" /></a>


										<p>
											<strong>Hometown:</strong> Indianapolis, Indiana
											<br>
											<strong>What did you study in college? </strong> Social Work
											<br>
											<strong>Fun Fact: </strong>My picture is on the Bub’s Wall of Fame for finishing the Big Ugly burger
											<br>
											<strong>Why are you a part of H2O Church Indiana?</strong> College can be a season filled with uncertainty and fear but Jesus wants to bring us freedom, worth, and redemption through His love.
											<br>
											<strong>In my free time I like to:</strong> Go on hikes, eat great food
											<br>
											<strong>Primary Role:</strong> North & Central Campus Community Group
											<br>
											<strong>Email: </strong> <a class="blue" href="mailto:Bekah.Campbell@h2oindiana.org">Bekah.Campbell@h2oindiana.org</a>


										</p>

										</section>
								</div>



					</article>



				<!-- Footer -->
					<footer id="footer">

						<ul class="icons">
							<li><a target="_blank" href="https://www.instagram.com/h2ochurchiu/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a target="_blank" href="https://www.facebook.com/h2ochurchiu/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/h2ochurchiu" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>

						</ul>

						<ul class="copyright">
							<li>For more information, contact Pastor Kevin Cody by <a href="mailto:Kevin.Cody@h2oindiana.org">email</a> or phone (812) 955-0451</li>
						</ul>

					</footer>


		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/ourteam.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
