<!DOCTYPE HTML>

<html>
	<head>
		<title>Who We Are - H2O Church</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/thumbs/logo.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo" class="logo"><a href="/">H2O Church </a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="submenu arrow blue">
								<a>About Us</a>
								<ul>
									<li class="blue"><a href="WhoWeAre">Who We Are</a></li>
									<li><a href="WhatWeBelieve">What We Believe</a></li>
									<li><a href="OurTeam">Our Team</a></li>
									<li><a href="Partnerships">Partnerships</a></li>
								</ul>
							</li>
							<li class="submenu arrow">
								<a >Connect</a>
								<ul>
									<li><a href="GetConnected">Get Connected</a></li>
									<li><a href="CommunityGroups">Community Groups</a></li>
									<li><a href="Sermons">Sermons</a></li>
								</ul>
							</li>

							<li class="submenu arrow">
								<a >Events</a>
								<ul>
									<li><a href="CommunityEngagement">Community Engagement</a></li>

									<!--li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li-->

								</ul>
							</li>
							<li class="submenu">
								<a href="Sundays">Sundays</a>
							</li>
							<li class="submenu">
								<a href="Give">Give</a>
							</li>

							<!--li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button primary">Sign Up</a></li-->

						</ul>
					</nav>
				</header>


			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-users"></span>
						<h2>About Us</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row gtr-150">
								<div class="col-6 col-12-narrower">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<header>
													<h3>Who We Are</h3>
												</header>
												<p>H2O Church is a local church, open to all in the Bloomington area, but with a special focus on reaching out to the campus of Indiana University with the Good News (Gospel) about Jesus Christ. We are a church mostly composed of students and together, we're learning how to be followers of Jesus, embrace the Gospel, and make it relate to every area of our lives. We’re passionate about Jesus and people - real people, messy people, people who know there’s something more to life but have more questions than answers - in other words, people like you!</p>

											</section>

											<section>
												<a  class="image featured"><img src="images/thumbs/girls.jpg" alt="" /></a>
												<header>
													<h3>What We Do</h3>
												</header>
												<p>We have Community Groups (communities where we strive to help people meet God and together connect the truth to our everyday lives) and a Sunday morning worship service (a gathering to worship God and learn from the Bible). As we grow, we aim to always be learning better what the needs of people in our church, campus, and city are, and strive to meet those. So over time,
													you can expect everything from mission trips to community service to leadership training.
													Fill out the form to learn more about how to get connected!</p>
												<footer>
													<ul class="buttons">
														<li><a href="GetConnected" class="button small">Get Connected</a></li>
													</ul>
												</footer>
											</section>
										</div>

								</div>
								<div class="col-6 col-12-narrower imp-narrower">

									<!-- Content -->
										<div class="content">
											<section>
												<a  class="image featured"><img src="images/thumbs/whoweare.jpg" alt="" /></a>
												<header>
													<h3>Our Name</h3>
												</header>
												<p>In the Gospel of John, we hear a story about a very unlikely character. She was a Samaritan woman with a broken life. No religious credentials to her name, no respect and honor from society, but thirsty for real answers. At a well, in the midst of her everyday life, she encounters Jesus Christ. She is looking for water, but Jesus offers something infinitely deeper, infinitely more. “Anyone who drinks this water will soon become thirsty again. But those who drink the water I give will never be thirsty again. It becomes a fresh bubbling spring within them, giving them eternal life”</p>

													<p>Throughout Scripture, we see a pattern of men and women thirsting for something deeper and more satisfying than what this world has to offer. Through the Bible, we find the story of God revealing himself as the source of Living Water, the only one who can truly quench the heart and soul.<p>

														<p>Our dream at H2O is to be an oasis in the midst of Indiana University and Bloomington — that people would get a taste of the One that satisfies. </p>

										</div>

								</div>
							</div>
						</section>



				</article>

				<!-- Footer -->
					<footer id="footer">

						<ul class="icons">
							<li><a target="_blank" href="https://www.instagram.com/h2ochurchiu/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a target="_blank" href="https://www.facebook.com/h2ochurchiu/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/h2ochurchiu" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>

						</ul>

						<ul class="copyright">
							<li>For more information, contact Pastor Kevin Cody by <a href="mailto:Kevin.Cody@h2oindiana.org">email</a> or phone (812) 955-0451</li>
						</ul>

					</footer>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>

			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
